::-webkit-scrollbar { width: 0 !important }

html,body {
    margin: 0;
    background-color: #111111;
    padding: 0;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
}

div.wrapper{
    overflow: hidden; 
}



nav a{
    color:#8f8f8f;
    font-family: 'Benton';
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

nav #logo {
    height: 40px;
}

.navbar-brand {
    padding: 0;
}

nav .nav-item:hover a {
    text-decoration: none;
    color: #49d128;
    /* font-weight: bold; */
}

nav .dropdown-menu {
    background-color: #000000;
}
nav .dropdown-menu .dropdown-divider{
    border-top-color: #222222
}

nav .dropdown-item{
    color: white;
}

nav .dropdown-item:hover{
    background-color: #49d128;
}

.page {
    width: 100vw;
    height: 100vh;
    /* background-color: white; */
}

.half-page {
    width: 100vw;
    height: 50vh;
}

#title {
    background-color: #111111;
}

#title img {
    max-width: 80vw;
    position: relative;
    top: calc(50vh - 172px);
    left: 50vw;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 50vw;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 60px;
    background-color: #111111;
}

.footerspace {
    height: 60px;
    width: 100vw;
}

div#bars .col{
    height: 3px;
    margin: 30px 5px;
}

div#bars .col:nth-of-type(1) {
    background-color: #274e13;
}

div#bars .col:nth-of-type(2) {
    background-color: rgb(106, 168, 79);
}

div#bars .col:nth-of-type(2) {
    background-color: #49d128;
}

div#bars .col:nth-of-type(3) {
    background-color: #93c47d;
}

#contact {
    color:#8f8f8f;
    margin-top: 100px;
}

#contact form {
    margin-bottom: 60px;
}

#contact h1, #contact h5{
    margin: 50px 0px;
}


#contact h5 b{
    color: #5f5f5f;
}

#contact form textarea,
#contact form input {
    background-color: #252525;
    border: none;
    border-radius: 0.8em;
    color: #666
}

#contact form input:focus {
    box-shadow: 0 0 5px rgba(73, 209, 40, 1);
    border: 1px solid rgba(73, 209, 40, 1);
}

.btn-green {
    background-color: #49d128;
    border-color: #49d128;
}

::selection {
    background: #49d128; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #49d128; /* Gecko Browsers */
}

@media only screen and (max-width: 600px) {
    #title img {
        width: 80vw;
        top: calc(50vh - 70px);
    }

    nav {
        background-color: #111111;
    }
}


@font-face {
    font-family: "Benton";
    font-weight: bold;
    src: url("../fonts/benton-sans-bold.woff") format("woff");
}

@font-face {
    font-family: "Benton";
    src: url("../fonts/benton-sans-regular.woff") format("woff");
}

